Source: sp-endurance-ui
Section: utils
Priority: extra
Maintainer: Eero Tamminen <eero.tamminen@nokia.com>
Build-Depends: debhelper (>= 7), libqt4-dev, applauncherd-dev, pkg-config
Standards-Version: 3.9.1

Package: sp-endurance-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sp-endurance
Description: Endurance measurement daemon
 sp-endurance-daemon provides automated system and process state 
 (memory, file descriptors, X resources, flash space, errors in syslog etc)
 snapshot taking with sp-endurace tools. The endurance daemon can be accessed
 over dbus to setup snapshot interval, start automated snapshots or take a 
 manual endurance snapshot.

Package: sp-endurance-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt-components, applauncherd-invoker,
 sp-endurance-daemon
Description: Endurance measurement daemon manager
 sp-endurance-ui provides user interface to interact with the endurance daemon
 provided by sp-endurance-daemon package.

Package: sp-endurance-daemon-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, sp-endurance-daemon (= ${binary:Version})
Description: debugging symbols for sp-endurance-daemon package
 Contains the debugging information for the sp-endurance-daemon package.

Package: sp-endurance-ui-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, sp-endurance-ui (= ${binary:Version})
Description: debugging symbols for sp-endurance-ui package
 Contains the debugging information for the sp-endurance-ui package.
 
 
