[Desktop Entry]
Type=Application
Name=sp-endurance
Icon=/usr/share/icons/sp-endurance-ui.png
Exec=/usr/bin/invoker --single-instance --type=d /usr/bin/sp-endurance-ui
